html {
  height: 100%;
  width: 100%;
}

body {
  margin: 0;
}

#main {
  display: flex;
  min-height: 100vh;
  font-family: Arial, Helvetica, sans-serif;
}

#leftbg {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding-top: 10%;
  width: 70%;
  background-image: url('./halie-west-25xggax4bSA-unsplash.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}

#odinlogodiv {
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  background-color: rgba(0,0,0,0.4);
  width: 100%;
  padding: 10px;
}

#odinlogo {
  width: 70px;
}

@font-face {
  font-family: 'Norse-Bold';
  src: url('./Norse-Bold.otf') format('opentype');
}

#odinlogoheader {
  color: white;
  font-size: 70px;
  font-family: 'Norse-Bold', 'Arial Narrow', Arial, sans-serif;
  margin: 0;
}

#credit {
  font-size: 13px;
  margin-bottom: 10px;
  color: white
}
#credit>a {
  color: white
}

#rightbg {
  background-color: rgb(249, 250, 251);
}

#toptext {
  margin-left: 30px;
}

#midform {
  padding-left: 30px;
  padding-top: 7px;
  padding-bottom: 25px;
  background-color: rgb(255, 255, 255);
  box-shadow: 1px 11px 24px -7px rgba(0,0,0,0.59);
-webkit-box-shadow: 1px 11px 24px -7px rgba(0,0,0,0.59);
-moz-box-shadow: 1px 11px 24px -7px rgba(0,0,0,0.59);
}

#form {
  display: flex;
  gap: 60px;
}

#formleft, #formright {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.forminput {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.forminput>label {
  text-transform: uppercase;
  color: rgba(60, 69, 81, 0.9);
}
.forminput>input {
  width: 230px;
  height: 20px;
  border-radius: 5px;
  border-color: rgb(229, 231, 235);
  border-style: solid;
  box-shadow: none;
}

#bottomtext {
  margin-left: 30px;
}

#submitbtn {
  margin-top: 30px;
  background-color: rgb(89, 109, 72);
  width: 160px;
  height: 40px;
  border-radius: 8px;
  border-style: none;
  box-shadow: none;

  color: white;
  font-weight: bold;
}

#logintext {
  font-size: 15px;
  color: black
}

#logintext>a {
  color: rgb(89, 109, 72);
}